.carousel-caption {
  display: none;
}

.carousel-caption.show {
  display: block; 
}

.carousel-caption:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

@media (max-width: 768px) {
  .carousel-caption:hover {
    width: 90%; 
  }
}
