.carousel-caption {
  display: none; /* Initially hide the caption */
}

.carousel-caption.show {
  display: block; /* Show the caption when the parent is hovered */
}

.carousel-caption:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

@media (max-width: 768px) {
  .carousel-caption:hover {
    width: 90%; /* Adjusted width for smaller screens */
  }
}
