.gallery {
    margin-top: 20px;
    padding: 20px;
  }
  
  .gallery-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5vw; 
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
  }
  
  .gallery-image {
    width: 200px; 
    height: 150px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .gallery-image {
      width: calc(100% - 20px); 
      height: auto;
    }
  }
  
  .gallery-image:hover {
    transform: scale(1.1);
  }
  