.notice-ticker-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Arrange sections horizontally with space between */
  }
  
  .notice-section {
    width: 48%; /* Set width for each section */
  }
  
  .notice-heading {
    margin-bottom: 10px;
    text-align: center; /* Center the heading */
  }
  
  .notice-ticker {
    overflow: auto; /* Add scrollbar if necessary */
    height: 200px; /* Set height */
    padding-top: 20px;
  }
  
  .notice-item {
    padding: 5px;
    color: black;
    text-decoration: none; /* Remove underline */
    display: block; /* Ensure each item occupies its own line */
  }
  
  .notice-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  